{% extends "layouts/base.njk" %}
{% block content %}
<div class="main">
  <div class="main-page">
    <h3>{{ detail.title }}</h3>
    <p>{{ detail.author }}&nbsp;&nbsp;{{ detail.showTime }}</p>

    <div class="ads1 info-ads"></div>
    <div class="content-box">
      <div class="left-column">
        <div class="articles-box">
          {{ detail.news.content | safe }}
          <div class="ads3 multiple-ads"></div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}