<div class="terms_mm-main__mUd7z">
    <article>
        <p>We are committed to safeguard your personal data. We provide engaging contents (not limited to articles) for
            users. Thus the security of your personal data is important to us. This privacy policy shows how we collect,
            hold, disclosure or process your personal data. Please read the following carefully as to understand our
            practices regarding the personal data.</p>
        <h1>What Personal Data We Collect</h1>
        <p>We collect various types of personal information through our website or various sources. We collect this
            information to better communicate with you, and here are the types of personal data we collect. a. Personal
            identifiable data (e.g. name, e-mail address). This personal data is used to identify, locate, or contact an
            individual user. b. Pseudonymous data (e.g. “user 000” ). The pseudonymous data is used to instead the true
            name of a person.</p>
        <h1>Use of Personal Data</h1>
        <p>We may use your personal data to provide your with higher-quality products and better customer services on
            the basis of the law. Our purposes includes but not limited to the following:</p>
        <p>a. Verifying your identity before responding you feedback or queries, or offering you the best service;</p>
        <p>b. Seeking for professional advice, legal or otherwise in order to provide the relevant services to you;</p>
        <p>c. Investigating or addressing the claims, disputes or other complaints.</p>
        <p>d. Ensuring good user experience, efficient technical support, and security of the service</p>
        <h1>Handling of Personal Data</h1>
        <p>Your personal data can only be accessed by the authorized staff. They are required to protect your personal
            data all the time abiding by the contractual responsibility.</p>
        <h1>Disclosure of Personal Data</h1>
        <p>We shall not send or sell any personal information of our clients to third parties. Your personal data will
            not be published or disclosure on our website or other platform.</p>
        <h1>Cookies</h1>
        <p>The cookies are created when you are browsing the website. The Cookies keep you sign in, recommend you
            relevant content, as well as to enhance your experience. When you are browsing a website, cookies are
            accessed by the server to know your preferences, and you can view the website content more efficiently. Many
            browsers accept the cookies automatically. If you don’t want your cookies to be collected, you can refuse
            the cookies. But some features will not be available to you or some web pages of our website will not
            display properly.</p>
        <h1>Pixel Tags</h1>
        <p>A pixel tag (1*1 pixel) is a graphic that is loaded when the customer visits the web page. The tracking pixel
            is designed to be transparent and be invisible to users. The cookies and the pixel tags are used to monitor
            the users behavior on the website. You have the choice to disable the pixel tags, while it may limit some
            features on your use of the website.</p>
        <h1>IP Address</h1>
        <p>An internet protocol address is a numerical label assigned to connect a computer network. We only keep the IP
            address to provide the customer service.</p>
        <h1>How to Protect your personal data</h1>
        <p>a. Clear your history or browser cache after each browsing on your computer. You are strongly required to
            clear the browser’s disk cache after each visit on our website.</p>
        <p>b. If you want to visit our website, you can enter the website address directly on the browser address bar.
        </p>
        <p>c. Be aware of the spyware which may track your internet session or acquire your personal data and the
            browsing history.</p>
        <p>d. Make sure the anti-virus and firewall software installed on your personal computer. Ensure that you have
            installed the newest operating system on your computer.</p>
        <p>e. Be aware of the email frauds and delete the junk emails regularly.</p>
    </article>
</div>